# PyCasters
## January 17, 2020 | DIY Data Workshop
### Mark Anthony Yabis, First Val Babon, Cris Sarmiento


# Questions:
1. Who has the most number of page edits in Wikipedia for Musicians?
2. What is the date range of the Wikipedia Edits for Robin Williams?
3. How many celebrities are living in the United States among the most edited pages in Wikipedia?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

In [2]:
fn = "../input/wikipedia_edits.csv.zip"
df = pd.read_csv(fn)

# 1. Who has the most number of page edits in Wikipedia for Musicians?

In [3]:
df[df["career"]== "Musicians"]["title"].value_counts().head(1)

Britney_Spears    24640
Name: title, dtype: int64

# 2. What is the date range of the Wikipedia Edits for Robin Williams?

In [4]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

In [5]:
df["date"] = df["timestamp"].dt.date

In [6]:
title = "Robin_Williams"
df_sub = df[df["title"]==title]

In [7]:
len(df_sub)

8431

In [8]:
df_sub.head()

,title,parentid,revid,timestamp,user,userid,size,recipient,year,rank,country,career,tied,date
589057,Robin_Williams,858713988,858839480,2018-09-09 23:46:07+00:00,RightCowLeftCoast,8929032.0,112291,Robin Williams,1999,8,United States,Actor,0,2018-09-09
589058,Robin_Williams,858660967,858713988,2018-09-09 03:49:57+00:00,GoingBatty,11555324.0,111475,Robin Williams,1999,8,United States,Actor,0,2018-09-09
589059,Robin_Williams,858660956,858660967,2018-09-08 19:45:35+00:00,ClueBot NG,13286072.0,111446,Robin Williams,1999,8,United States,Actor,0,2018-09-08
589060,Robin_Williams,858269797,858660956,2018-09-08 19:45:27+00:00,90.194.255.137,0.0,111466,Robin Williams,1999,8,United States,Actor,0,2018-09-08
589061,Robin_Williams,858268903,858269797,2018-09-06 01:08:44+00:00,Sjones23,3116621.0,111446,Robin Williams,1999,8,United States,Actor,0,2018-09-06

In [9]:
date_min = df_sub["date"].min()
date_max = df_sub["date"].max()

In [10]:
date_min, date_max

(datetime.date(2002, 5, 24), datetime.date(2018, 9, 9))

In [11]:
'Date range: {:%m/%d/%Y} to {:%m/%d/%Y}'.format(date_min, date_max)

'Date range: 05/24/2002 to 09/09/2018'

# 3. How many celebrities are living in the United States among the most edited pages in Wikipedia?

In [12]:
df[df["country"]=="United States"]["title"].value_counts()

Britney_Spears           24640
Beyonce                  20811
Eminem                   19899
Mariah_Carey             18571
Madonna_(entertainer)    17681
Dwayne_Johnson           16097
LeBron_James             14642
Lady_Gaga                14208
Jennifer_Lopez           13146
50_Cent                  13066
Cher                     12743
Kobe_Bryant              12553
Michael_Jordan           12040
Taylor_Swift             11004
Backstreet_Boys          10270
Sean_Combs               10231
Johnny_Depp              10001
Katy_Perry                9913
Brad_Pitt                 9281
Ben_Affleck               9263
Shaquille_O'Neal          9229
Tiger_Woods               9026
Steven_Spielberg          8998
Jennifer_Aniston          8824
Rush_Limbaugh             8685
Mel_Gibson                8668
Jay-Z                     8612
Bruce_Springsteen         8601
Howard_Stern              8571
Robin_Williams            8431
Bon_Jovi                  8163
Floyd_Mayweather_Jr.      7969
Oprah_Winfrey             7931
Tom_Hanks                 7846
George_Clooney            7775
Tom_Cruise                7769
Leonardo_DiCaprio         7654
Angelina_Jolie            7336
Dr._Dre                   7256
Bruce_Willis              7114
NSYNC                     6130
Kim_Kardashian            5945
Jerry_Seinfeld            5754
Sandra_Bullock            5340
Robert_Downey_Jr.         5317
George_Lucas              5192
Harrison_Ford             5052
Julia_Roberts             4921
Ellen_DeGeneres           4434
Garth_Brooks              4160
Kevin_Hart                3678
Dan_Brown                 3382
Kylie_Jenner              3056
Judy_Sheindlin            2762
Phil_McGraw               2638
Paula_Deen                2563
James_Patterson           2543
Name: title, dtype: int64